.grid{
    height: auto;
    width: fit-content;
}
.row{
    height: 60px;
}
input{
    border-radius: 5px;
    height: 60px;
    width: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}
.btn{
    height: 40px;
    width: 255px;
    font-size: larger;
    background-color: #f9f5f5;
    color: rgb(11, 10, 10);
    font-weight: bold;
    border-radius: 10px;
  }